<div class="container-fluid">
    <div id="menu_container" class="mt-2 menu__options" *ngIf="isLogin">
        <app-menu></app-menu>
    </div>
    <div class="data__container pt-4 pb-4">
        <div class="logout_area" *ngIf="isLogin">
            <button mat-button color="primary" (click)="signout()">Sign out</button>
        </div>

        <div class="container">
            <div class="row">
                <!-- <app-searchbox [showButtons]="showButtons"></app-searchbox> -->
                <div class="col-md p-4">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="Enter Key word" (input)="searchFeatures()">
                </div>
            </div>
        </div>

        <div class="container contentArea">
            <div class="row">
                <div class="col-md-3 images" *ngFor="let data of paginatedData">
                    <span (click)="openWatchComponent(data)"><img [src]=data.moviePoster alt="" height="120px"
                            width="210px"></span>
                </div>
            </div>
        </div>

        <div class="footer">
            <mat-paginator [length]="featuredData.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>