<div class="container-fluid">
    <div id="menu_container" class="mt-2 menu__options" *ngIf="isLogin">
        <app-menu></app-menu>
    </div>

    <div class="data__container pt-4 pb-4">
        <div class="logout_area" *ngIf="isLogin">
            <button mat-button color="primary" (click)="logout()">Sign out</button>
        </div>

        <div class="container">
            <div class="row p-4">
                <!-- <app-searchbox [showButtons]="showButtons"></app-searchbox> -->
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="Enter Key word" (input)="searchFeatures()">
            </div>
        </div>

        <div class="container contentArea">
            <div class="row m-4 p-4" *ngFor="let data of filterData">
                <div class="col-md-3">
                    <span (click)="openWatchComponent(data)"><img [src]=data.moviePoster alt="" height="200px"
                            width="150px"></span>
                    <label>{{data.name}}</label>
                </div>
            </div>
        </div>
    </div>

</div>