.row{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.feature_container{
    width:auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}

h4{
    color: #fff;
}