.container-fluid{
    background-color: rgb(157, 240, 240);
    height:auto;
    padding-right: 10px;
}

.menu__options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data__container{
    border: solid 1px rgb(38, 3, 121);
    width: 80%;
    margin-left: 5rem;
    padding:5px
}

.featureArea{
    background-color: rgb(39, 36, 36);
}

.logout_area{
    display: flex;
    justify-content: flex-end;
    top: -2px;
}

button{
    top: -60px;
    right: -6px;
    border: solid 1px;
}